@font-face {
  font-family: "Carnopee Regular";
  src: url("./fonts/CanopeeRegular.otf") format("opentype");
}

@font-face {
  font-family: "Editorial Normal";
  src: url("./fonts/PPEditorialNew-Regular-BF644b214ff145f.otf")
    format("opentype");
}

@font-face {
  font-family: "Editorial Bold";
  src: url("./fonts/PPEditorialNew-Ultrabold-BF644b21500840c.otf")
    format("opentype");
}

@font-face {
  font-family: "Editorial Light";
  src: url("./fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf")
    format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
